
<div class="jumbotron jumbotron-fluid background-2" >
  <div class="container">

    <h1 class="display-3 display-title">Simpl!fy Todo</h1>
    <p class="lead display-paragraph">A self-destruting to-do list to keep you focused on the things that really matter.</p>

  </div>
</div>
