
<tbody id="item-<%= item.id %>">
	<tr>
		<td ><%= item.name %></td>
		<td><%= item.days_left %></td>
		<td><%= link_to "", user_item_path(item.user, item), method: :delete, class: 'glyphicon glyphicon-ok', remote: true %></td>
		<%#= link_to "", item, method: :delete, class: 'glyphicon glyphicon-ok' %>
	</tr>
</tbody>
